# Dependencies
node_modules/

# Build output
dist/

# Environment variables
.env

# Database
prisma/dev.db
prisma/dev.db-journal

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
